<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <h3>All Users:</h3>
    <ul>
        {% for user in all_users %}
            <li>{{ user['id'] }} - {{ user['username'] }} - {{ user['email'] }} - Is Online: {{ user['is_online'] }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Online Users:</h3>
    <ul>
        {% for user in online_users %}
            <li>{{ user['id'] }} - {{ user['username'] }} - {{ user['email'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
